  <mat-card>
    <mat-spinner *ngIf= "isLoading"></mat-spinner>

    <form [formGroup]= "form" *ngIf = "!isLoading" (submit)= "onSavePost()" >

      <mat-form-field class="needMargin">
        <input type="text" matInput  placeholder="Title" formControlName = "title">
        <mat-error *ngIf = "form.get('title')" >Please enter Blog title</mat-error>
      </mat-form-field>

      <mat-form-field class="needMargin">
        <textarea cols="50" rows="6" matInput formControlName="content" placeholder="Content"></textarea>
        <mat-error *ngIf = "form.get('content')" >Please enter Blog Content</mat-error>
      </mat-form-field>

     <div class="needMargin">
      <button type="submit" mat-raised-button color="primary" [disabled]= "form.touched && !form.valid">Save Post</button>
      <input type="file" #filePicker (change)="onImageUploaded($event)" accept="image/*">

      <button mat-button color="primary" (click)="filePicker.click()" id="imageUpload" type="button">
          <mat-icon>add_a_photo</mat-icon>
      </button>
     </div>


    <div class="image-preview" *ngIf = "imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]= "imagePreview" [alt]= "form.value.title" >
    </div>



    </form>
  </mat-card>

