
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="!isLoading">
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" >

      <mat-form-field>
        <input type="text" matInput [ngModel]="post?.title" name="title" placeholder="Title" required #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter Blog title</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea cols="50" rows="10" matInput [ngModel]="post?.content" name="content" placeholder="Content" required #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Please enter Blog title</mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary" [disabled]="postForm.invalid">Save Post</button>

    </form>
  </mat-card>

