@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:host {
  display: block;
  margin-top: 16px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 1px 1px 5px ,rgba(0,0,0,0.5);
}

mat-paginator {
  margin-top: 1rem;
}
